.education {
    width: 100%;
    padding: 100px;
    background-color: rgb(15 23 42);
    display: flex;
    align-items: center;
    justify-content: center;
}

.edu-pic {
    width: 40%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.edu-pic div{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(transparent 30%,rgb(15 23 42) 75%);
    /*background: linear-gradient(100deg, rgb(15 23 42) 10%, transparent,rgb(15 23 42) 70%);*/
}
.edu-pic{
    height: 446px;
    width: 40%;
    /*background: url("/assets/images/Annotation 2023-06-09 123356.png");*/
    background: url("https://lahirudilshan2000.github.io/MyProfile/assets/images/Annotation 2023-06-09 123356.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.edu-container {
    width: 60%;
    padding: 20px;
}

.edu-container h1 {
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
}

.edu-container p {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 22px;
}

.edu-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.edu-card-container .edu-card {
    width: 200px;
    height: 250px;
    background: #282B64;
    margin: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
}

.edu-card-container .edu-card:hover {
    transform: scale(1.04);
}

.edu-card i {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    font-size: 1.8em;
    background: #ed213a;
    border-radius: 10px;
}

.edu-card:nth-child(2) i {
    background: #10ac84;
}

.edu-card:nth-child(3) i {
    background: #7158e2;
}

.edu-card h4 {
    font-size: 1em;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

.edu-card p {
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
}

