.skills{
    padding: 0 100px;
    text-align: center;
}
.skills-content{
    width: 100%;
    padding: 50px 200px 50px 200px;
    text-align: left;

}
.skills-header{
    font-family: 'Open Sans', sans-serif;
    text-align: end;
    font-size: 4.3rem;
    letter-spacing: 5px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}
.skills-content .bar{
    margin: 10px 0;
    /*width: 600px;*/
}
.skills-content .bar:first-child{
    margin-top: 0;
}
.skills-content .bar .info span{
    font-size: 0.78em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    animation: showText 0.5s 1s forwards;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
}
.skills-content .bar .info{
    margin-bottom: 5px;
}
.skills-content .bar .progress-line{
    position: relative;
    height: 15px;
    width: 100%;
    background: rgb(104, 109, 118);
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.3);
    animation: animate 1s cubic-bezier(1,0,0.5,1)forwards;
}
.bar .progress-line span{
    height: 100%;
    width: 80%;
    /*background: #6665ee;*/
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-line.java span{
    width: 95%;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    /*background:rgba(73, 197, 182, 0.8);*/
}
.progress-line.javafx span{
    width: 85%;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.progress-line.figma span{
    width: 75%;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.progress-line.react span{
    width: 95%;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.progress-line.sql span{
    width: 75%;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.progress-line.html span{
    width: 98%;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.progress-line.css span{
    width: 95%;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.progress-line.javascript span{
    width: 95%;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.bar .progress-line span::before{
    /*position: absolute;
    content: "";
    height: 0;
    width: 0;
    right: 0;
    top: -10px;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s  forwards;*/
}
.bar .progress-line span::after{
    position: absolute;
    content: "";
    right: 0;
    top: 2px;
    bottom: 0;
    margin: auto;
    color: rgba(255, 255, 255, 0.9);
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 300;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s forwards;
}
@keyframes showText2 {
    100%{
        opacity: 1;
    }
}
.progress-line.java span::after{
    content: "95%";
}
.progress-line.javafx span::after{
    content: "85%";
}
.progress-line.figma span::after{
    content: "75%";
}
.progress-line.react span::after{
    content: "95%";
}
.progress-line.sql span::after{
    content: "75%";
}
.progress-line.html span::after{
    content: "98%";
}
.progress-line.css span::after{
    content: "95%";
}
.progress-line.javascript span::after{
    content: "95%";
}
.skills-img-box{
    text-align: center;
    padding: 20px;
}
.skills-img-box i{
    font-size: 1rem;
}
.skills-img-box.bar i{
    font-size: 2.2rem;
    padding: 10px;
    margin: 10px;
    opacity: 0;
    border-radius: 10px;
    animation: showText2 0.5s 1.5s forwards;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
