*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pathway Extreme', sans-serif;

}
html{
    scroll-behavior: smooth;
}
main{
    transition: 0.5s;
    overflow: hidden;
    background: linear-gradient(to right, #414345, #232526);
}
#section{
   z-index: -50;
}

div, section{
    /*border: 2px solid black;*/
}
@media all and (max-width: 1230px) {

    #header .toggle{
        display: block;
    }
    #header nav ul{
        display: none;
    }
    #about:after{
        width: 50%;
    }
    .skills .skills-content{
        padding: 50px 100px;
    }
}

@media all and (max-width: 1050px) {
    .intro .intro-content{
        padding-left: 100px;
        padding-right: 10px;
    }
    .skills .skills-content{
        padding: 50px 80px;
    }
}
@media all and (max-width: 900px) {
    #about:after{
        font-size: 5rem;
        width: 80%;
        right: -550px;
        top : -100px;
    }
    .skills .skills-content{
        padding: 50px 50px;
    }
}

@media all and (max-width: 805px) {

    #section .intro{
        flex-direction: column;
    }
    .intro .intro-content{
        width: 100%;
        padding: 50px;

    }
    .intro .intro-head{
        width: 100%;
        margin-top: 100px;
    }
    .about .shadow{
        flex-direction: column;
    }
    #about{
        padding: 0 50px;
        background: linear-gradient(to right, #414345, #232526);
    }
    #about .shadow .content-box{
        width: 100%;
    }
    #about:after{
        right: -600px;
        top :-80px;
        z-index: 20;
    }
    #about .img-box{
        width: 100%;
        background:  #49c5b6;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 20px 20px;
        z-index: 20;
    }
    .skills .skills-content{
        padding: 50px 0px;
    }
}

@media all and (max-width: 435px) {

    #section .intro{
        border-radius: 0 0 10px 10px;
    }
    #section .intro-head{
        margin-top: 200px;
        text-align: start;
    }
    .intro .intro-head h1{
        font-size: 3em;
        padding-left: 10px;
    }
    .intro .intro-head .intro-head-content h3{
        font-size: 1em;
        /*margin: 100px 120px 4px 0;*/
    }
    .intro .circle-container{
        width: 390px;
        height: 390px;
    }
    .intro .circle-container .circle-4:after, .intro .circle-container .circle-4:before{
        top: 160px;
    }
    .intro .circle-container .circle-1:after{
        top: 40px;
    }
    .intro .circle-container .circle-2:after{
        top: 45px;
    }
    .intro .circle-container .circle-3:after{
        top: 23px;
    }
    #header nav #logo{
        font-size: 1.8em;
    }
    #header {
        padding: 20px 30px;
    }
    #header.sticky {
        padding: 10px 60px;
    }
    .intro .intro-content{
        padding: 50px 20px;
    }
    #section .about{
        padding: 0 20px;
    }
    #about .shadow .content-box {
        padding: 50px 20px;
    }
    .about .about-heading{
        font-size: 3.4em;
    }
    .about .about-p1{
        font-size: 1.2em;
    }
    .about .about-circle-container {
        width: 300px;
        height: 300px;
    }
}