*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pathway Extreme', sans-serif;

}
html{
    scroll-behavior: smooth;
}
main{
    transition: 0.5s;
    overflow: hidden;
    background: linear-gradient(to right, #414345, #232526);
}
#section{
   z-index: -50;
}

div, section{
    /*border: 2px solid black;*/
}
@media all and (max-width: 700px) {

}